save-exact=true
engine-stric=true
fund=false
@cencosud-ds:registry=https://gitlab.com/api/v4/projects/40137047/packages/npm/
//gitlab.com/api/v4/projects/40137047/packages/npm/:_authToken=${CDA_FLAGS_TOKEN}